$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.container {
    width: 90%;
    margin: auto;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

img {
    max-width: 100%;
    margin:10px;
}

a {
    display: block;
    margin-top: 1em;
}